.main-home {
  height: 100%;
}

.section-home {
  height: 100vh;
  gap: 30px;
  background: var(--color-grey-4);
}

.section-home .container-home {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.section-home .main-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-home .main-content .info-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.section-home .main-content .info-text h2 {
  font-size: var(--title-1);
  color: var(--white-fixed);
}

.section-home .main-content .info-text span {
  font-size: var(--title-3);
  color: var(--white-fixed);
}

@media (min-width: 800px) {
  .section-home .container-home {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .section-home .main-content .info-text h2 {
    max-width: 15ch;
  }
}
